h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

ion-header {
  ion-toolbar {
    --background: #e3f4fe;

    ion-icon {
      font-size: 1.4rem;
    }

    ion-title {
      font-size: 1.3rem;
    }

    ion-badge {
      position: relative;
      right: 1.2em;
      top: -0.6em;
      --background: #ffcd00;
      --padding-start: 0;
      width: 9px;
      height: 9px;
    }
  }
}
ion-content {
  --background: #e3f4fe;

  h4.location {
    font-size: 1rem;
    font-weight: bold;
    color: #19c3fb;
    text-align: center;
  }

  .main-info {
    text-align: center;
    margin-top: 4em;

    img {
      height: 8em;
    }

    h5 {
      margin-top: 1em;
      color: #19c3fb;
      font-size: 1em;
      font-weight: bold;
    }

    h1 {
      font-size: 5em;
    }
  }

  .other-info {
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 2em;

    ion-card {
      display: inline-block;
      min-width: 150px;
      scroll-behavior: smooth;
      margin: 0;
      margin-right: 5px;

      .info {
        padding-right: 3em;
        margin-top: 2em;

        h5 {
          font-size: 1em;
          font-weight: bold;
          color: #19c3fb;
          margin-bottom: 3px;
        }

        h3 {
          font-size: 1.3em;
          font-weight: bold;
          color: #1d71f2;
        }
      }
    }
  }
  .hourly {
    margin-top: 1em;

    h3 {
      font-size: 1.1em;
      font-weight: bold;
    }

    .hourly-info {
      white-space: nowrap;
      overflow-x: auto;

      .info {
        display: inline-block;
        text-align: center;
        min-width: fit-content;
        scroll-behavior: smooth;
        margin-right: 2em;

        img {
          height: 2em;
          width: 2em;
        }

        p {
          color: #19c3fb;
          font-size: 0.9em;
        }
      }
    }
  }
}
